<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ site.title }}</title>
<meta name="description" content="Free Web tutorials on HTML and CSS">
<link rel="shortcut icon" href="/assets/images/favicon.ico">
<meta name="description" content="{{ site.description }}">
<meta name="author" content="{{ site.author }}">
<meta property="og:url" content="{{ site.title }}">
<meta property="og:site_name" content="{{ site.site_name }}">
<meta property="og:title" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:type" content="website">
<link rel="stylesheet" type="text/css" href="/assets/styles/style.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/animate.min.css">