html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: -apple-system-font,Helvetica,Arial,sans-serif;
}

body {
    background: url("/assets/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6, p, a, div {
    text-shadow: 0 0 0.5em rgb(0, 0, 0);
}

.hidden {
    display:none;
}

.text-center {
    text-align: center;
}

.main-title {
    position: absolute;
    top: 25vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 75vw;
    font-size: 2em;
    color: white;
}

.main-title > p {
    font-size: 60%;
}

.main-title > h1 {
    letter-spacing: -1px;
    margin: 0;
}

.main-link, h1, h2, h3, h4, h5, p {
    text-decoration: none;
    color: white;
}

.main-link:hover, .main-link:active {
    text-decoration: underline;
}

#pst {
    position: absolute;
    top: -10vh;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}

.left{float:left;}
.right{float:right;}

.width-half {
    width: 50%;
}

@media only screen
and (max-width : 768px) {
    body {
        font-size: 0.8em;
    }

    .main-title {
        width: 90vw;
    }

    .width-half {
        width: 100%;
    }
}