html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: Helvetica,Arial,sans-serif;
}

.hidden {
    display:none;
}

.center-text {
    text-align: center;
}

.main-title {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 200%;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
}

.main-title > p {
    font-size: 60%;
}
.main-title > p > a, .main-title > p > a, #bling {
    text-decoration: none;
    color: white;
}
.main-title > p > a:hover, .main-title > p > a:active, #pst:active, #pst:hover, #bling:active, #bling:hover {
    text-decoration: underline;
}
.main-title > h1 {
    letter-spacing: -1px;
    margin: 0;
}

#top {
    padding-top:10em;
}

#bottom {
    position:fixed;
    right:0;
    bottom:0;
    left:0;
}
#bottom > img {
    display:block;
    margin:auto;
}

#pst {
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 12pt;
    text-decoration: none;
}

#bling {
    position: absolute;
    right: -20%;
    bottom: -100%;
}