html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    font-family: Helvetica,Arial,sans-serif;
}

.hidden {
    display:none;
}

.center-text {
    text-align: center;
}

.main-title {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    font-size: 200%;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    color: white;
}

.main-title > p {
    font-size: 60%;
}

.main-title > h1 {
    letter-spacing: -1px;
    margin: 0;
}

.main-link {
    text-decoration: none;
    color: white;
}

.main-link:hover, .main-link:active {
    text-decoration: underline;
}

#pst {
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 12pt;
}

#offRightEdge, #offLeftEdge {
    position: absolute;
    bottom: -100%;
}
#offRightEdge{
    right: -20%;
}
#offLeftEdge {
    left: -20%;
}
